body{
    background-image:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('../images/road.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
@font-face {
    font-family: "BebasNeue";
    src: url(../fonts/BebasNeue-Regular.otf);
}
p{
    font-family: BebasNeue;
    font-size: 80px;
    color: #DB202C;
    text-align: center;
    margin: 0;
    }
li {
  float: left;
  opacity: 0.7;
  color: dodgerblue;
  font-family: BebasNeue;
  font-size:48px;
  text-align: center;
  display: block;
  list-style: none;
  width: 200px;
  height: 200px;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

/* li:nth-child(1) {
  background-image: url(../images/life.png);
}

li:nth-child(2) {
  background-image: url(../images/death.jpeg);
} */

li a {
  text-decoration: none;
  color: dodgerblue;
  font-family: BebasNeue;
  font-size:48px;
  text-align: center;
}

li a img {
  width: 250px;
  height: 250px;
  margin: auto;
}

ul:hover li {
  -webkit-transform: translateX(-25%);
          transform: translateX(-25%);
}
ul:hover li:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  transition-duration: 0.1818181818s;
}
ul:hover li:hover ~ li {
  -webkit-transform: translateX(25%);
          transform: translateX(25%);
}
#one{
        padding:30px;
        margin-top: 10px;
    }
#two{
        padding:30px;
        margin: 10px;
    }
    #choice{
        text-align: center;
        margin-left:25%;
        margin-top:3%;
    }
